body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: Black;
    background-color: #F7F9F9;
    height: 2000px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    background-color: white;
    border-bottom: solid;
    border-color: #B8BBBB;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.nav li:hover {
    background-color:#111551;
}
.navbar-nav  li a:hover {
    color: white !important;
}
.active {
    background-color:#111551;
}
.active {
    color: white !important;
}
.navbar-brand {
  padding-top: 0;
}
.headh1 {
  color: black;
  text-align: center;
  margin-top: 200px;
}
.details{
	margin-left:80px;
	padding:20px;

}
@media only screen and (max-width: 600px) {
  .hidecdu {
    display:none;
  }
  .homeimg {
    height: 200px;
  }
  .details{
	margin-left:20px;
	padding:20px;
}
.message{
  width:350px;
  height: auto;
  padding:10px;
  background-color: #226868;
  color: white;
  margin: auto;
}
.messform{
  width: 350px;
  height:auto;
  margin:0 auto;
  border: 1px solid #ccc;
  color:white;
  background-color: #226868;
  display: none;
}
}

.part_1{
  background-color: #13869A;
  height: 200px;
  margin-top: -21px;
}
.part_2{
  background-color: #13969A;
  height: 200px;
  margin-top: -21px;
}
.part_3{
  background-color: #13769A;
  height: 200px;
  margin-top: -21px;
}
.leftmargin{
  margin-left: 10px;
}

.sym {
  background-color: #3B5998;
  color: white;
  font-size: 30px;
  width: 30px;
  border-radius: 10px;
}
.sym:hover{
  background-color: #3B5998;
  color: white;
}
.sym3:hover{
  background-color: #3B5998;
  color: white;
}

.sym3{
  background: #125688;
  color: white;
  font-size: 30px;
  width: 40px;
  border-radius: 10px;
  text-align: center;
}
.message{
  width:550px;
  height: auto;
  padding:10px;
  background-color: #226868;
  color: white;
  margin: auto;
}
.message a{
  color:#111551;
}
.mbtn{
  background-color: #EEAC14;
  border-radius: 5px;
  border: #EEAC14;
}
/*form background style*/
.messform{
  width: 550px;
  height:auto;
  margin:0 auto;
  border: 1px solid #ccc;
  color:white;
  background-color: #226868;
  font-size: 15px;
  display: none;
}
/*form style*/
.form{
  width:467.5px;
  height:auto;
  margin: 0 7.5% 2% 7.5%;

}
.form h1{
  text-align: center;
  font-size: 48px;
}
/*div in the form style*/
.form div{
  width:374px;
  height:80px;
  padding:1%;
}
/*form input style*/
.form input{
  width:110%;
  height: 30px;
  font-size: 15px;
  border-radius:5px;
  border-color: white;
  color:black;
  font-weight: bold;
}
/*focus on the input when it is active*/
.form input:focus{
  border:3px solid #EEAC14;
}
.form label{
  font-size: 25px;
  color: white;
}
.form input[type=submit]{
  width: 30%;
  height: 50px;
  margin-top: 30px;
  padding: 3px;
  background-color: #EEAC14;
  border: #EEAC14;
  color: #050300;
  font-size: 25px;
  font-weight: bold;
}

/*style first name and last name to put side by side*/
.form .first_name{
  width:45%;
  float: left;
  color:black;
}
.first_name input{
  width:114%;
  font-size: 15px;
}
.form .last_name{
  width:45%;
  float:left;
  margin-left: 6%;
  color:black;
}
.last_name input{
  width:114%;
  font-size: 15px;
}


.foot{
  text-align: center;
  background-color:#111551;
  color: white;
  padding: 10px;
}
